extends layout

block content
  div(id='wrapper' class='toggled')
      div(id='sidebar-wrapper')
          ul(class='sidebar-nav')
              li(class='sidebar-brand')
                  a(href='#') Start Bootstrap
              li
                  a(href='#') Dashboard
                  
                  
      div(id='page-content-wrapper')
          div(class='container-fluid')
              div(class='row')
                  div(class='col-lg-12')
                      a(href='#menu-toggle' class='btn btn-default' id='menu-toggle') Abrir menu.

                      h1.title1 #{title}
                      div.logo
                        img(src=logo).logo
                      p Welcomes to #{title}

                      p Make sure to keep all page content within the 
                        code #page-content-wrapper
                      
    script(src='js/jquery.js')

    <!-- Bootstrap Core JavaScript -->
    script(src='js/bootstrap.min.js')

    script.
      $('#menu-toggle').click(function(e) {
          e.preventDefault();
          $('#wrapper').toggleClass('toggled');
      });
    script
